<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">{{application.name}}</h5>
      <app-update-application 
        [application]="application"
      ></app-update-application>
    </div>
    <p class="card-text">{{application.description}}</p>
    <a href="#" class="btn btn-secondary w-100">Verify Integrity</a>
  </div>
</div>