<div class="container mt-5">
  <app-add-application></app-add-application>
  
  <hr class="my-4">
  
  <div class="row d-flex flex-wrap justify-content-between wrap">
    <app-application class="col-4 mb-3"
      *ngFor="let application of getApplications()" 
      [application]="application"
    ></app-application>
  </div>
</div>
