<!-- ---------------------------- NAVBAR START ----------------------------- -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Library Application</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/homepage" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/library" routerLinkActive="active">Library</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- ----------------------------- NAVBAR END ------------------------------ -->

<!-- ----------------------------- BODY START ------------------------------ -->
  <router-outlet></router-outlet>
<!-- ------------------------------ BODY END ------------------------------- -->
