<!-- Button trigger modal -->
<button type="button" class="btn btn-primary w-25" data-bs-toggle="modal" data-bs-target="#addApplicationModal">
  Add Application
</button>

<!-- Modal -->
<div class="modal fade" id="addApplicationModal" tabindex="-1" aria-labelledby="addApplicationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addApplicationModalLabel">Add application to the library</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <!-- ----------------------------- FORM START ------------------------------ -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Name" aria-label="application-name" [(ngModel)]="addApplicationForm.name" required>
          </div>

          <p *ngIf="!nameFormVerification()">** You need to write a name **</p>

          <div class="input-group mb-3">
            <textarea class="form-control" placeholder="Description" [(ngModel)]="addApplicationForm.description"></textarea>
          </div>

          <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile01" (change)="onFileSelected($event)" #fileUpload required>
          </div>
          
          <p *ngIf="!fileFormVerification()">** You need to upload a file **</p>

          <!-- ------------------------------ FORM END ------------------------------- -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!handlerErrorForm()" (click)="submitForm()">Add app</button>
      </div>
    </div>
  </div>
</div>