<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" attr.data-bs-target="#updateApplicationModal-{{application.id}}">
  >
</button>

<!-- Modal -->
<div class="modal fade" id="updateApplicationModal-{{application.id}}" tabindex="-1" aria-labelledby="updateApplicationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateApplicationModalLabel">Update Application Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <!-- ----------------------------- FORM START ------------------------------ -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Name" aria-label="application-name" [(ngModel)]="updateApplicationForm.name" required>
          </div>

          <p *ngIf="!nameFormVerification()">** You need to write a name **</p>

          <div class="input-group mb-3">
            <textarea class="form-control" placeholder="Description" [(ngModel)]="updateApplicationForm.description"></textarea>
          </div>

          <!-- ------------------------------ FORM END ------------------------------- -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!handlerErrorForm()" (click)="submitForm()">Update Application</button>
      </div>
    </div>
  </div>
</div>